.horizontal-slider {
  width: 100%;
  min-width: 100%;
  height: 100px;
}


.example-thumb {
  font-size: 0.3em;
  text-align: center;
  background-color: #008793;
  color: white;
  cursor: grab;
  border-radius: 90%;
  box-sizing: content-box;
}

.example-thumb.active {
  background-color: #010993;
}

.example-track {
  position: relative;
  background: #ddd;
}

.example-track.example-track-1 {
  background: linear-gradient(to left top, #6bcfd1, #47c6dc, #28bce8, #2caff0, #51a0f2, #76a1f2, #91a2f0, #a8a3ed, #bfb9f2, #d5d0f6, #eae7fb, #ffffff);
}

.horizontal-slider .example-track {
  top: 30px;
  height: 20px;
}

.horizontal-slider .example-thumb {
  top: 1px;
  width: 80px;
  height: 80px;
  line-height: 70px;
  font-size:0.2em;
}


@tailwind base;
@tailwind components;
@tailwind utilities;